$color-dark:#000;
$color-white:#fff; 
$color-gray:#EBF1F1; 
$color-orage:#FF5C00; 
$color-yellow:#FFE800;
$color-red: #F50002; 
$color-green: #00E84F;
$color-greenlight: #29FF70;
$color-magenta: #FF3D9E;
$color-cyan: #0AFFE3;

$font-p: 600 clamp(0.5rem, 0.8rem, 1.3rem) 'Plain', sans-serif;

.main-nav__button {
  display: inline-flex;
  background-color: $color-dark;
  border: 2px solid $color-white;
  border-radius: 30px;
  box-shadow: $color-white 4px 4px 0 0;
  color: $color-white;
  cursor: pointer;
  font: $font-p;
  padding: 0.4rem 0.8rem;
  /* touch-action: manipulation; */
  transition: all 0.3s ease;

  &:hover {
    color: $color-dark;
    background: $color-green;
    box-shadow: $color-white 0 0 0 0;
    transition: all 0.3s ease;
  }

  &:active {
    margin-top: 2px;
  } 
}



