.layout {
  display: grid;
  grid: 
    "navbar" 6.25rem
    "mainHome" auto
    "serviceSection" auto
    "highlightsSection" auto
    "formSection" auto
    "footer" auto
    / 100%
  ;
}

.navbar {
  grid-area: navbar;
}

.mainHome {
  grid-area: mainHome;
}

.serviceSection {
  grid-area: serviceSection;
}

.highlightsSection {
  grid-area: highlightsSection;
}

.formSection {
  grid-area: formSection;
}

.footer {
  grid-area: footer;
} 